<div *ngIf="person">
<h2>{{person.firstName}}</h2>
<div>
    First Name:
    <input [(ngModel)]="person.firstName" placeholder="First Name"/>
</div>
<div>
    Last Name:
    <input [(ngModel)]="person.lastName" placeholder="Last Name"/>
</div>
<div>
    Adress:
    <input [(ngModel)]="person.address" placeholder="Address"/>
</div>
<button (click)="updatePerson(person)"  *ngIf="person.id">Update</button>
<button (click)="deletePerson(person)"  *ngIf="person.id">Delete</button>
<button (click)="createPerson(person)"  *ngIf="!person.id">Save</button>


</div>